<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030627274905-0d40pu646v817hpl8401mnktcpe6aepo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030627274905-0d40pu646v817hpl8401mnktcpe6aepo</string>
	<key>API_KEY</key>
	<string>AIzaSyAU-Qz_GFWQvaupu6QN2SvcgW9q_a0oKyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1030627274905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmedshieha.Cavents</string>
	<key>PROJECT_ID</key>
	<string>cavents-f3d71</string>
	<key>STORAGE_BUCKET</key>
	<string>cavents-f3d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030627274905:ios:67b40f5b287f908ffc4808</string>
	<key>DATABASE_URL</key>
	<string>https://cavents-f3d71.firebaseio.com</string>
</dict>
</plist>
